.feedback-page {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
}

.feedback-box {
  display: flex;
  flex-direction: column;
  width: 396px;
  margin: 100px auto 30px;
  gap: 20px;
  align-items: center;
  font-style: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  line-height: 54px;
  text-align: center;
  color: #000000;
}

.btn-play-again {
  align-items: center;
  border-radius: 10px;
  background-color: lightgreen;
  font-size: 1.3rem;
  font-weight: 600;
  display: flex;
  flex-flow: column wrap;
  font-size: 1.2rem;
  min-width: 275px;
  padding: 10px 0;
  margin: 30px auto 20px;
}

.btn-ranking {
  align-items: center;
  border-radius: 10px;
  display: flex;
  font-size: 1.3rem;
  font-weight: 600;
  flex-flow: column wrap;
  font-size: 1.2rem;
  min-width: 275px;
  padding: 10px 0;
  margin: 30px auto;
}
