* {
  font-family: Roboto , sans-serif;
}

.game-container {
  align-items: center;
  border: 1px solid gray;
  border-radius: 10px;
  display: flex;
  flex-flow: column nowrap;
  margin: 20px 50vh 10px;
  padding: 30px 0 45px;
}

.game-container h3 {
  background-color: rgb(180, 180, 158);
  display: flex;
  font-size: 1.3rem;
  margin: 20px;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

ul button {
  align-items: center;
  border-radius: 10px;
  display: flex;
  flex-flow: column wrap;
  font-size: 1.2rem;
  min-width: 275px;
  padding: 10px 0;
}

ul button:hover {
  background-color: rgb(240, 225, 209);
  border: 3px groove rgba(128, 128, 128, 0.733);
}

.correct-answer {
  border: 3px solid rgb(6, 240, 15);
}

.incorrect-answer {
  border: 3px solid red;
}

.next-btn {
  background-color: darkslategray;
  border-radius: 10px;
  color: rgb(240, 225, 209);
  display: flex;
  justify-content: center;
  margin: 15px auto 0;
  padding: 10px 0;
  width: 150px;
}
