* {
  font-family: Roboto , sans-serif;
}

.game-container {
  align-items: center;
  border: 1px solid rgb(100, 95, 95);
  border-radius: 10px;
  display: flex;
  flex-flow: column nowrap;
  margin: 30px 50vh 10px;
  padding: 30px 0 45px;
}

.question-category {
  color: rgba(0, 0, 0, 0.726);
  display: flex;
  font-size: 1.2rem;
  font-style: italic;
}

.game-container h3 {
  color: rgba(0, 0, 0, 0.842);
  display: flex;
  font-size: 1.4rem;
  margin: 20px;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

ul button {
  align-items: center;
  border-radius: 10px;
  display: flex;
  flex-flow: column wrap;
  font-size: 1.2rem;
  min-width: 275px;
  padding: 10px 0;
}

ul button:hover {
  background-color: rgb(240, 225, 209);
  border: 3px groove rgba(128, 128, 128, 0.733);
}

.correct-answer {
  border: 3px solid rgb(6, 240, 15);
}

.incorrect-answer {
  border: 3px solid red;
}

.next-btn {
  background-color: darkslategray;
  border-radius: 10px;
  color: rgb(240, 225, 209);
  display: flex;
  font-size: 1.4rem;
  font-weight: 600;
  justify-content: center;
  margin: 15px auto 0;
  padding: 15px 0;
  width: 150px;
}

.next-btn:hover {
  background-color: rgb(245, 240, 235);
  border: 5px groove rgb(53, 90, 90);
  color: darkslategray;
  font-weight: 600;
  transition: 500ms;
}
