.config-container {
  align-items: flex-start;
  background: #e6e6e6;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 60vw;
}

.inner-container {
  margin: 5px auto;
  width: 30vw;
}

.inner-container select {
  background-color: white;
  border-radius: 5px;
  font-size: 1.1rem;
}

.btn-container {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5px auto;
  width: 60vw;
}

.config-btn {
  background-color: rgb(156, 183, 115);
  border: 1px solid green;
  border-radius: 5px;
  font-weight: 700;
  width: 15vw;
}

.config-btn:active {
  background-color: green;
}
